#colorPicker {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .black-background .color-picker-container label {
color: white; /* Label text color when the background is black (white) */
}

  .power-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .power-on {
    background-color: #4caf50;
    color: white;
  }

  .power-off {
    background-color: #f44336;
    color: white;
  }

  .multi-color-btn {
    background: linear-gradient(
      to right,
      orange 0%,
      black 50%,
      orange 100%
    ); /* Default to Halloween colors */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .st-patricks-btn {
    background: linear-gradient(to right, green 0%, white 50%, orange 100%);
  }

  .christmas-btn {
    background: linear-gradient(to right, red 0%, white 50%, red 100%);
  }
  .color-picker-container{
    background-color: darkgray;
    background: center;/* Display as an inline block to wrap around the buttons */
    padding: 10px; /* Add padding to create space around the buttons */
    border-radius: 10px; /* Add rounded corners for a more visually appealing container */
    margin: 10px; /* Add margin for spacing between containers */
    text-align: center;
  }

  .modes-container {
    text-align: center;
    margin: 10px 0;
  }

  .logo-container {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
   
  }

  .logo-container img {
width: 150px; /* Adjust the width to your desired size */
height: auto; /* To maintain the aspect ratio */
}

  .power-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
  }
  .st-patricks-btn {
    background: linear-gradient(to right, green, orange);
    color: white;
  }

  .christmas-btn {
    background: red;
    color: white;
  }

  .power-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  @keyframes pulse {
0% {
background-color: #4caf50;
}
50% {
background-color: #7FFF00; /* Change to a lighter green or any color you prefer */
}
100% {
background-color: #4caf50;
}
}